.prueba
{
    background-color: white;
}

/* solo no lo toquen o se daña :,v */
.prueba p
{
  text-align: right;  
}
.prueba h1{
    font-size: 50px;
    text-transform: uppercase;
}


#xd img
{
    width: 300px;
    height: 300px;
<<<<<<< HEAD
    margin-right: 140px;
=======
    margin-right: 120px;
>>>>>>> ac13fad90d391e3df290adc7ebc2d95634d17812
    border-radius: 1000px;
}

#xd{
<<<<<<< HEAD
    background-color: rgb(128, 128, 128);
=======
    background-color: #343334;
>>>>>>> ac13fad90d391e3df290adc7ebc2d95634d17812
    position: relative;
    /* left: 7%; */
}

.Formulario-Derecha{
    padding: 100px;
    float: right;
    width: 45%; 
    text-align: justify;
}

.Formulario-Derecha h3{
    padding: 5%;
}

.Formulario-Izquierda h3{
    padding: 5%;
}
.Formulario-Izquierda{
    padding: 100px; 
    float: left; 
    width: 45%; 
    text-align: justify;
}